:root {
    --primary-colour: #4EDAE0;
    --secondary-colour: #FFFF79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px;
    color: white;

}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-colour);
    padding-bottom: 5px ;
}

.dec-line {
    padding: 2px;
    background-color: var(--secondary-colour);
    margin-bottom: 20px;
}

#search-bar,
#recent-searches {
    display: flex;
    flex-direction: column;
    width: 15%;
}

#search-title,
#search-input,
#search-button,
#clear-history {
    margin: 5px;
    margin-left: 15px;
    height: 30px;
}

#clear-history {
    width: 50%;
    border-radius: 15px;
}

#SH-positioning {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-styling {
    cursor: pointer;
}

#button-container {
    display: flex;
    flex-direction: column;
}